streamlit==1.32.0
numpy==1.26.0
opencv-python-headless==4.8.1.78
ultralytics==8.0.196
torch==2.1.0
gtts==2.4.0
pydub==0.25.1
transformers==4.35.2
accelerate==0.25.0
ffmpeg-python==0.2.0
python-dotenv==1.0.0
